.view {
    position: relative;

    &::after{ 
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 820px;
        height: 375px;
        background-image: url("../img/bg-browser.png");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &__inner {
        padding-top: 105px;
        padding-bottom: 460px;

        text-align: center;
    }

    &__content {
        width: 655px;
        margin: 0 auto;
    }

    &__suptitle {
        @include suptitle();
        color: $pink-color;
        text-transform: uppercase;
    }

    &__title {
        @include title();
    }

    &__text {
        @include text();
        padding-top: 40px;
    }
}