$base-color: #282828;
$light-color: #ffffff;
$pink-color: #ff6d6d;
$grey-background-color: #ececec;
$blue-background-color: #323969;
$add-color: #474d78;
$pink-color-hover: #b74848;
$add-color-hover:  #252a4e;

$tablet-width: 660px;
$desktop-width: 960px;

$retina-dpi: 144dpi; 
$retina-dppx: 1.5dppx;